@import '~bootstrap/scss/bootstrap';

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 14.5%;
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
  }
}
