.item-container {
  padding-top: 30px;
  img {
    width: 100%;
    height: auto;
  }
  .item-name {
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
  }
  .crossed {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 14px;
    .msrp-crossed {
      text-decoration: line-through;
      padding-right: 5px;
    }
    .price {
      color: #007bff;
      font-weight: 800;
      padding-left: 5px;
    }
  }
  .msrp {
    color: #007bff;
    font-weight: 800;
    padding-left: 5px;
  }
}
