.search-container {
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    width: 90%;
  }
  @media (max-width: 480px) {
    width: 90%;
  }
  .search-bar {
    display: flex;
    flex-direction: row;
    .search {
      cursor: text;
      outline: none;
      font-size: 14px;
      border: 1px solid ghostwhite;
      border-radius: 25px;
      margin: 2rem 0;
      width: 20.125rem;
      height: 50px;
      padding: 20px;
      @media (max-width: 768px) {
        width: 20.125rem;
      }
      @media (max-width: 480px) {
        width: 14rem;
      }
    }
    .magnifying-glass {
      border: none;
      background-color: transparent;
    }
  }
}
